### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [93]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [94]:
total_players = (purchase_data["SN"].nunique())

total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data_unique = pd.DataFrame(purchase_data["Item Name"].unique())

unique_purchases = purchase_data_unique.count()

purchase_sum = purchase_data["Price"].sum()

avg_price = purchase_sum/(purchase_data["Price"].count())

purchase_total = purchase_data["Item Name"].count()

total_revenue = purchase_data["Price"].sum()

purchase_analysis_df = pd.DataFrame({"Unique Items Purchased": unique_purchases,
                                    "Average Price of Items Sold": avg_price,
                                    "Total Purchases": purchase_total,
                                    "Total Revenue": total_revenue})

purchase_analysis_df["Average Price of Items Sold"] = purchase_analysis_df["Average Price of Items Sold"].map("${:.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:.2f}".format)

purchase_analysis_df

,Unique Items Purchased,Average Price of Items Sold,Total Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
male_data = purchase_data.loc[(purchase_data["Gender"] == "Male")]
male_players = male_data["SN"].nunique()
male_percent = round(((male_players/total_players)*100),2)

female_data = purchase_data.loc[(purchase_data["Gender"] == "Female")]
female_players = female_data["SN"].nunique()
female_percent = round(((female_players/total_players)*100),2)

other_players = (total_players - male_players) - female_players

other_percent = round(((other_players/total_players)*100),2)

In [5]:
gender_demographics = pd.DataFrame({"Gender": ["Male","Female","Other/Non-Disclosed"],
                                    "Total Count": [male_players, female_players, other_players],
                                   "Percentage of Players": [male_percent, female_percent, other_percent]})

gender_demographics = gender_demographics.set_index("Gender")

gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2f}%".format)

gender_demographics

                     Total Count Percentage of Players
Gender
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
male_data = purchase_data.loc[(purchase_data["Gender"] == "Male")]
female_data = purchase_data.loc[(purchase_data["Gender"] == "Female")]
other_data = purchase_data.loc[(purchase_data["Gender"] == "Other / Non-Disclosed")]

male_purchases = male_data["Item Name"].count()
female_purchases = female_data["Item Name"].count()
other_purchases = other_data["Item Name"].count()

male_revenue = male_data["Price"].sum()
female_revenue = female_data["Price"].sum()
other_revenue = other_data["Price"].sum()

male_avg_price_item = male_revenue/male_purchases
female_avg_price_item = female_revenue/male_purchases
other_avg_price_item = other_revenue/male_purchases

male_avg_price_person = male_revenue/male_players
female_avg_price_person = female_revenue/male_players
other_avg_price_person = other_revenue/male_players

In [26]:
gender_analysis = pd.DataFrame({"Gender": ["Male","Female","Other/Non-Disclosed"],
                                             "Total Purchases": [male_purchases, female_purchases, other_purchases],
                                             "Total Revenue": [male_revenue, female_revenue, other_revenue],
                                             "Average Price per Person": [male_avg_price_person, female_avg_price_person, 
                                                                          other_avg_price_person],
                                             "Average Price per Item": [male_avg_price_item, female_avg_price_item, 
                                                                          other_avg_price_item]
                                            })

gender_analysis = gender_analysis.set_index("Gender")

gender_analysis = gender_demographics_analysis[["Total Purchases","Total Revenue","Average Price per Item","Average Price per Person"]]

gender_analysis["Total Revenue"] = gender_analysis["Total Revenue"].map("${:.2f}".format)
gender_analysis["Average Price per Item"] = gender_analysis["Average Price per Item"].map("${:.2f}".format)
gender_analysis["Average Price per Person"] = gender_analysis["Average Price per Person"].map("${:.2f}".format)

gender_analysis

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [125]:
# establish bins and group names
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
age_grps = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# categories players into age bins
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=age_grps, right=False)
purchase_data

# player count by age group
# get list of unique players using updated purchase_data records
players = purchase_data.drop_duplicates('SN')
age_ct = players.groupby('Age Range')['SN'].count()

# Calculate percentages by age group
age_range_pct = (age_ct/total_players)*100

# create new dataframe with to display formatted data
age_demographics = pd.DataFrame({"Total Count": age_ct,
                                 "Percentage of Players": age_range_pct})
age_demographics["Percentage of Players"]=age_demographics["Percentage of Players"].map("{0:,.2f}%".format)

#remove "age range" from index name
age_demographics.index.name = None

age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [166]:

age_purchase_ct = purchase_data.groupby('Age Range')['Item ID'].count()
age_purchase_ct

age_total_price = purchase_data.groupby("Age Range")["Price"].sum()

age_avg_price = (age_total_price/age_purchase_ct).map("${:.2f}".format)

# average purchase per person
avg_price_person = (age_total_price/age_ct).map("${:.2f}".format)

#create dataframe
age_analysis = pd.DataFrame({"Purchase Count": age_purchase_ct,
                            "Average Purchase Price": age_avg_price,
                            "Total Purchase Value": age_total_price,
                            "Average Price per Person": avg_price_person})
age_analysis["Total Purchase Value"] = age_analysis["Total Purchase Value"].map("${:.2f}".format)

age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Price per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [226]:
player_purchases = purchase_data.groupby('SN')['Item ID'].count()
player_purchases

SN
Adairialis76       1
Adastirin33        1
Aeda94             1
Aela59             1
Aelaria33          1
Aelastirin39       2
Aelidru27          1
Aelin32            3
Aelly27            2
Aellynun67         1
Aellyria80         1
Aelollo59          2
Aenarap34          1
Aeral43            1
Aeral68            1
Aeral97            1
Aeralria27         1
Aeralstical35      1
Aeri84             1
Aerillorin70       1
Aerithllora36      2
Aerithnucal56      1
Aerithnuphos61     1
Aerithriaphos45    1
Aerithriaphos46    1
Aesri53            1
Aesty53            2
Aestysu37          2
Aesur96            1
Aesurstilis64      1
                  ..
Undosia27          1
Undosian34         2
Undotesta33        1
Wailin72           1
Yadacal26          2
Yadaisuir65        1
Yadam35            1
Yadanu52           1
Yadaphos40         2
Yalae81            2
Yalaeria91         1
Yaliru88           1
Yalo85             1
Yalostiphos68      1
Yana46             1
Yarithllodeu72     1
Yarithrgue83       1
Yarithrin84        1
Yarithsurgue62     1
Yarolwen77         1
Yasrisu92          1
Yastyriaphos75     1
Yasur35            1
Yasur85            1
Yathecal72         1
Yathecal82         3
Yathedeu43         2
Yoishirrala98      1
Zhisrisu83         2
Zontibe81          3
Name: Item ID, Length: 576, dtype: int64

In [215]:
player_purch_value = purchase_data.groupby("SN")["Price"].sum()
player_purch_value

avg_price_per = (player_purch_value/player_purchases).map("${:.2f}".format)
avg_price_per

t_s = pd.DataFrame({"Purchase Count": player_purchases,
                            "Average Purchase Price": avg_price_per,
                            "Total Purchase Value": player_purch_value})

top_spenders = t_s.sort_values("Total Purchase Value", ascending=False)

top_spenders.head()

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [276]:

pop_table = purchase_data[["Item ID","Item Name","Price"]]

purch_count = pop_table.groupby("Item ID")["Item Name"].count()
purch_count

item_name = pop_table["Item Name"]

item_price = pop_table["Price"]
item_price

purch_value = (item_price * purch_count).map("${:.2f}".format)
purch_value

most_pop = pd.DataFrame({"Item Name": item_name,
                         "Purchase Count": purch_count,
                        "Price per Item": item_price,
                        "Total Purchase Value": purch_value})

most_pop = most_pop.sort_values("Purchase Count", ascending=False)

most_pop["Price per Item"] = most_pop["Price per Item"].map("${:.2f}".format)

most_pop = most_pop.set_index("Item Name")

most_pop.head()

,Purchase Count,Price per Item,Total Purchase Value
Item Name,,,
"Despair, Favor of Due Diligence",12.0,$4.60,$55.20
Hopeless Ebon Dualblade,9.0,$1.33,$11.97
Malificent Bag,9.0,$1.75,$15.75
Azurewrath,9.0,$4.40,$39.60
"Blazefury, Protector of Delusions",8.0,$4.64,$37.12

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [302]:
purch_value = (item_price * purch_count)

most_profit = pd.DataFrame({"Item Name": item_name,
                         "Purchase Count": purch_count,
                        "Price per Item": item_price,
                        "Total Purchase Value": purch_value})

most_profit = most_profit.sort_values("Total Purchase Value", ascending=False)
  
most_profit["Price per Item"] = most_profit["Price per Item"].map("${:.2f}".format)
most_profit["Total Purchase Value"] = most_profit["Total Purchase Value"].map("${:.2f}".format)

most_profit.head()

,Item Name,Purchase Count,Price per Item,Total Purchase Value
178,"Despair, Favor of Due Diligence",12.0,$4.60,$55.20
82,Azurewrath,9.0,$4.40,$39.60
19,"Blazefury, Protector of Delusions",8.0,$4.64,$37.12
34,Azurewrath,8.0,$4.40,$35.20
110,"Mercy, Katana of Dismay",7.0,$4.94,$34.58